blib/
.build/
_build/
debuild/
cover_db/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
MYMETA.yml
META.json
META.yml
nytprof.out
pm_to_blib
Dist-Zilla-Plugin-Control-Debian-*
perltidy.LOG
*.swp
